* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background-color: #363534;
    width: 100%;
    max-width: 375px;
    min-width: 640px;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
    overflow: hidden;
}

.display {
    min-height: 250px;
    padding: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    text-align: right;
    flex: 1 1 0%;
}

.display .input {
    font-size: 35px;
    margin-bottom: 0.5rem;
}

.display .output {
    font-size: 70px;
    font-weight: bold;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    color: #06afc9;
}

.display .operator {
    color: #06afc9;
}

.display .brackets,
.display .percent {
    color: white;
}

.keys {
    background-color: none;
    padding: 50px;
    padding-left: 65px;
    align-content: center;
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1rem;
    box-shadow: 0px -2px 16px rgba(0, 0, 0, 0.2);
}

.keys .key {
    position: relative;
    cursor: pointer;
    display: block;
    height: 100px;
    width: 100px;
    background-color: white;
    border-radius: 50%;
    transition: 0.2s;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.keys .key span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-weight: 600;
    color: #363534;
}

.keys .key.operator,
.keys .key.operator span{
    color: white;
    background-color: #06afc9;
}

.keys .key.action,
.keys .key.action span{
    color: white;
    background-color: #06afc9;
}